<ion-row class="row-user-review">
  <ion-col class="col-avatar" size="2">
    <ion-avatar routerLink='/tabs/tab3/{{review.user.id}}'>
      <img src="{{review.user.user_avatar}}">
    </ion-avatar>
  </ion-col>

  <ion-col routerLink='/tabs/tab3/{{review.user.id}}' class="col-user-review" size="10">
    <ion-row class="user-info">
      <p class="username">{{review.user.user_name}}</p>
    </ion-row>

    <ion-row class="user-review" routerLink='/comments/{{review.id}}'>
        <ion-text  class="review">{{review.text}}</ion-text>
    </ion-row>
  </ion-col>
</ion-row>

