.col-avatar {
  ion-avatar {
    width: 40px;
    height: 40px;
  }
}

.col-user-review {
  ion-row {
    p {
      margin: 0;
      font-size: 1rem;
    }

    .username {
      color: #627299;
      font-size: 1.1rem;
    }
  }

  .user-info {
    justify-content: space-between;

    .rating {
      ion-icon {
        font-size: 1.2rem;
      }
    }
  }

  .user-review {
    margin-top: 1.5vh;

    .review {
      margin-bottom: 1.5vh;
    }
  }
}

.partition {
  background: #828282;
  height: 1px;
  margin-top: 1vh;
}

