<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="comment" defaultHref="/comments/{{comment.review_id}}"></ion-back-button>
      <p>Editar Comentário</p>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateComment(updateCommentForm)"><ion-icon name="checkmark-sharp" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateCommentForm">
    <ion-textarea autofocus="true" color="roxinho" placeholder="Editar Comentário" formControlName="text"></ion-textarea>
  </form>
</ion-content>
