<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/comments/{{id}}"></ion-back-button>
      <p>Adicionar Comentário</p>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addComment(addCommentForm)"><ion-icon name="checkmark-sharp" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addCommentForm" (ngSubmit)="addComment(addCommentForm)">
    <ion-input type="text" autofocus="true" color="roxinho" placeholder="Digite seu comentário..." formControlName="text"></ion-input>
  </form>
</ion-content>
