<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="!user"tab="tab5">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button *ngIf="user" tab="tab1">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button *ngIf="user" tab="tab4/{{user.user.id}}">
      <ion-icon name="film"></ion-icon>  
    </ion-tab-button>

    <ion-tab-button *ngIf="user" (click)="go()">
      <ion-icon name="person"></ion-icon>   
    </ion-tab-button>
  </ion-tab-bar>

  

</ion-tabs>
