ion-grid {
  padding: 0;

  .row-image {
    height: 69vh;
    background-image: url("../../assets/login-register/login.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0px -20px 50px 5px rgba(0, 0, 0, 0.5);

    h1 {
      position: absolute;
      bottom: 0;
      margin-left: 4vw;
      font-size: 1.3rem;
    }
  }

  form {
    --ion-item-background: transparent;

    .form-input {
      --border-color: #CBD5E3;
      opacity: 0.6;
      --min-height: 10px;
      margin: 0 2vw 2vh 2vw;

      ion-input {
        color: #CBD5E3;
        --placeholder-opacity: 0.8;
      }
    }

    .row-buttons {
      justify-content: space-evenly;

      ion-button {
        --background: #627299;
        font-size: 0.8rem;
        color: var(--dark);
        --ion-color-success-contrast: #fff;

        ion-row {
          justify-content: center;
          line-height: 1rem;
        }
      }
    }
  }
}
