<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="review" defaultHref="/film/{{review.film_id}}"></ion-back-button>
      <p>Editar Review</p>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateReview(updateReviewForm)"><ion-icon name="checkmark-sharp" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateReviewForm">
    <ionic5-star-rating #rating
        activeIcon = "star"
        defaultIcon = "star-outline"
        halfStar= "true"
        activeColor = "#1DB954"
        defaultColor = "#aaaaaa"
        readonly = "false"
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)"
        formControlName="film_rating">
    </ionic5-star-rating>

    <ion-textarea autofocus="true" color="roxinho" placeholder="Editar Review" formControlName="text"></ion-textarea>
  </form>
</ion-content>
