ion-header {
    ion-toolbar {
      --background: transparent;
      p {
        font-weight: bold;
      }
    }
}

h1{
    font-size: 16px;
    text-align: center;
}

.photo{
    min-height: 150px;
    max-height: 150px;
    min-width: 112px;
    max-width: 112px;
    border-radius: 10px;
}

.list{
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

