<ion-header [translucent]="true">
    <ion-toolbar>
      <form [formGroup]="searchForm">
        <ion-searchbar (ionChange)="search();" placeholder="Pesquisar..." formControlName="search" animated="true"></ion-searchbar>
      </form>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list *ngIf="filmList">
      <ion-item *ngFor="let film of filmList.films | filter:filterTerm; let i = index" routerLink="/film/{{film.id}}">
        <ion-label><img class="film-cover" src={{film.film_cover}}></ion-label>
        <ion-label><p class="film-title">{{film.title}}</p></ion-label>
        <ion-label class="test"><p>{{film.release_date}}</p></ion-label>
        <ion-label><p>dirigido por</p> <p class="director-name">{{film.director}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="filmList">
      <ion-item class="teste" *ngFor="let user of filmList.users | filter:filterTerm; let i = index">
        <div class="avatar" routerLink="/tabs/tab3/{{user.id}}">
          <ion-avatar>
            <img class="avatarImg" src="{{user.user_avatar}}">
          </ion-avatar>
          <h1>{{user.user_name}}</h1>
        </div>

        <div class="score">
          <app-follow *ngIf="loggedUser && user.id!=loggedUser.id" [id]="user.id"></app-follow>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
