ion-header {
  ion-toolbar {
    --background: transparent;
    p {
      font-weight: bold;
    }
  }
}

ion-content {
  .teste {
    margin-bottom: 2vh;
  }
    ion-list {
      ion-item {
        .avatar {
          display: flex;
          flex-direction: row;
          align-items: center;

          .avatarImg{
            border: 1px solid white;
            width: 60px;
            height: 60px;
          }

          h1{
            color: #EFF5FF;
            font-size: 1rem;
            margin: 0 0 0 15px;
            font-weight: bold;
          }

        }
      }

      .score{
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1.1rem;
          position: absolute;
          right: 0;
          margin-right: 4vw;

          h2{
              font-size: 1.2rem;
              color: #2fdf75;
              margin-left: 5px;
              padding: 0;
          }

      }
      }

        .film-cover {
          border: 1px solid #CBD5E3;
          width: 15vw;
        }

        .film-title {
          color: white;
          font-weight: bold;
        }

        .director-name {
          font-weight: bold;
        }
      }

  ion-header {
    ion-toolbar {
      --background: transparent;
      p {
        font-weight: bold;
      }
    }
  }
