<ion-button fill="clear" color="danger" type="fav" icon-only (click)="likeReview()">
  <ion-icon name="heart-outline" *ngIf="!isLiked"></ion-icon>
  <ion-icon name="heart" *ngIf="isLiked"></ion-icon>
</ion-button>
